<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>PortFolio</title>
 <link rel="stylesheet" href="{% static 'port.css' %}">
<style>
  h3 {color:black;}
  h4{color:blue;}

</style>
</head>
<body style="background-color:rgb(0, 217, 255);">
<ul>
<a href><li><b>Home</b></li></a>
<a href><li><b>About</b></li></a>
<a href><li><b>Skills</b></li></a>
<a href><li><b>Education</b></li></a>
<a href><li><b>Contact</b></li></a>
</ul>
<img align='center' src="{% static 'empo.jpg' %}" width="150" height="150" alt="Sorry" float:right; class="cen">
<h3>HI</h3>
<h4 >I'm YOKEYNTRRA S</h4>
<h4>I am AI Student</h4>
<h4 style=color:black;><b><u>Qualification:</u></b></h4>
<ol>
<p>1.I Finished my Schooling in SSVMHS School</p>
  <ol>
  <li>> Computer Science Group</li><br>
  <li>> Completed in 2021</li>
  </ol>
<p>2.Currently I'm Pursuing B.TECH Artificial Intelligence And Data Science in KCE</p>
</ol>
<h4 style=color:black;><u>Languages Known:</u></h4>
<ol>
  <li>1.HTML</li><br>
  <li>2.CSS</li><br>
  <li>3.PYTHON</li><br>
  <li>4.JAVA</li>
</ol>
<p><h4 style=color:black;><b><u>Contact Through:</u></b></b></h4></p>
<ol>
  <li>1.Mobile Phone</li><br>
  <li>2.Linked in</li><br>
  <li>3.Twitter</li><br>
  <li>4.Instagram</li>
</ol>
<button style="background-color:red;"><b>About me?</b></button>
<h1></h1>
<a href="https://www.linkedin.com/in/yokeyntrra-s-1b4327268"><img src="{% static 'link.png' %}" width="30" height="30"></a>
<a href="https://twitter.com/yokeyboiii?t=yRm2197hymbjPbOBKinfFQ&s=09"><img src="{% static 'twit.png' %}" width="30" height="30"></a>
<a href="https://instagram.com/yokey_017?igshid=ZDc4ODBmNjlmNQ=="><img src="{% static 'download.jpg' %}" width="30" height="30"></a>
<div class="a"><marquee> WELCOME TO MY PORTFOLIO!!!!!!!!!!</marquee></div>
</body>
</html>